.advantages {
    display: flex;
    
    @include phones {
        flex-direction: column
    }
}

.advantages__item {
    flex: 1 0 30%;
    padding: 0 1rem;
    text-align: center;
    
    @include phones {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 2.5rem;

    &:last-child {
        margin-bottom: 0;
    }
    }
}

.advantages__text-block {
    text-align: center;

    @include phones {
        width: 80%;
        text-align: left;
        margin-left: 1.25rem;
    }
}

.advantages__title {
    margin-top: 1.5625rem;
    margin-bottom: 0.9375rem;
    font-family: "lifehack";
    font-size: 1.5rem;
    color: $grayish;

    @include phones {
        margin-top: 0;
    }

}


.advantages__img {
    max-height: 5.6rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    @include tablets {
        margin-top: 0;
        max-height: 6.4rem;
    }

    @include phones {
        margin-top: 0;
        max-height: 5.4rem;
        width: 30%;
    }
}

.advantages__description {
    color: $grayish;
}
