.best {
    @include bg-image('bg/best-bg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.best__title {
    color: $grayish;
    text-align: center;
    margin-bottom: 4.375rem;
}

.best__regular-text {
    color: $grayish;
}
