.button {
    display: inline-block;
    width: auto;
    padding: 0 0.9375rem;
    height: 2.1875rem;
    font-size: 0.8125rem;
    font-family: "ubuntu";
    text-transform: uppercase;
    color: $white;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.3125rem;
    line-height: 2.1875rem;
    font-weight: 500;

    &:hover {
        background-color: darken($red, 10%);
        cursor: pointer;
    }
}