.contacts {
    @include bg-image('bg/map-bg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 100vh;
    min-height: 40.625rem;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
}

.social__icon {
    fill: #585858;
    stroke: #585858;
    width: 1.25rem;
    max-height: 1.25rem;

    &:hover {
        fill: $white;
        stroke: $white;    
    }
}

.info__phone-icon {
    fill: #e14f28;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.3125rem;
}

.footer {
    height: 3.75rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.625rem 0;
    background: url(../img/bg/chalk-bg.png) center center no-repeat;
    background-size: 100% auto;

    @include phones {
        height: 7.1875rem;
        padding-top: 1.25rem;
    }
}

.footer-container {
    flex-direction: row;
    
    @include phones {
        flex-direction: column;
        justify-content: center;
    }

}

.footer-col {
    min-width: 50%;
    height: 100%;
    flex: 1 0 0;

    @include phones {
        text-align: center;
    }
}

.info__phone-icon, .info__phone-number {
    display: inline-block;
    color: #e14f28;
    font-family: "ubuntu";
    font-weight: 700;
    font-size: 0.875rem;
}

.info__address {
    color: $white;
    font-family: "ubuntu";
    font-size: 0.875rem;
    margin-bottom: 0.25rem;

    @include phones {
        margin-bottom: 0.4375rem;
    }
}

.social {
    margin-top: 0.625rem;
    text-align: right;

    @include phones {
        margin-top: 0.9375rem;
        text-align: center;
    }

}

.social__link {
    height: 100%;
}

.social__item {
    display: inline-block;
    margin-right: 1.25rem;

    &:last-child {
        margin-right: 0;
    }
}



