.description {
    color: $white;
    font-size: 65px;
    font-family: "lifehack";
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    line-height: 1em;
    display: inline-block;    
}