.intro {
    @include bg-image('bg/intro-bg');
}

.intro__button {
    background-color: $red;

    @include tablets {
        margin-left: auto;
    }
}

.intro__title {
    color: $yellow;
    display: block;
    white-space: nowrap;   

    @include tablets {
     text-align: center;
     white-space: nowrap;
    }
}