.intro {
    @include bg-image('bg/intro-bg');
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-size: cover;
}

.intro__button {
    background-color: $red;
    margin-left: 15px;
}

.intro__title {
    color: $yellow;
    display: inline-block;   
}