.intro {
    @include bg-image('bg/intro-bg');
}

.intro__button {
    background-color: $red;

    @include tablets {
        margin-left: auto;
    }
}

.intro__title {
    color: $yellow;
    display: block;
    width: 100%;
    white-space: nowrap;   

    @include tablets {
     text-align: center;
     white-space: nowrap;   
    }
}

.intro__description {
    color: $white;
    font-size: 4.0625rem;
    font-family: "lifehack";
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-top: 0.9375rem;
    display: block;
    width: 100%;

    @include tablets {
        text-align: center;
        margin-top: 0;
        font-size: 3.5rem;
    }
}

.teaser {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    @include tablets {
        flex-direction: column;
        justify-content: center;
    }

    &__block {
        width: 50%;
        
        @include tablets {
            width: 90%;
            text-align: center;
        }
    }
    
    &__img {
        width: 100%;
        height: 100%;

        @include tablets {
        padding: 0 7rem;
        }

        @include phones {
            padding: 0;
            }
    }

    &__block--right {
        padding-top: 5rem;
        padding-left: 0.9375rem;

        @include tablets {
            padding: 1rem 1rem;
        }
    }

}