@mixin bg-image($name) {
    $url:"../img/#{$name}.png";
    background-image: url($url);
    background-repeat: no-repeat;
  }

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
    }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
    }
}
