.page-switch {
    position: fixed;
    top: 12%;
    right: 4%;
}

.page-switch__item {
    background-color: $white;
    border-radius: 50%;
    width: 0.3125rem;
    height: 0.3125rem;
    margin-bottom: 0.875rem;
    position: relative;
    cursor: pointer;

    &--active:after {
        content: '';
        border-radius: 50%;
        border: 0.0625rem solid $white;
        width: 0.9375rem;
        height: 0.9375rem;
        position: absolute;
        top: -0.3125rem;
        left: -0.3125rem;
    }


    &:hover:after {
        content: '';
        border-radius: 50%;
        border: 0.0625rem solid $white;
        width: 0.9375rem;
        height: 0.9375rem;
        position: absolute;
        top: -0.3125rem;
        left: -0.3125rem;
        transition: 2s;
    }
}