.reviews__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.reviews__item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    height: 50%;
    position: relative; 

    @include tablets {
        flex-basis: 50%;
        height: 25%;
    }
}

.reviews__content {
    height: 100%;
    opacity: 0;
    background-color: $black-trans;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:hover {
        opacity: 1;
    }

    @include tablets {
        padding: 0 1rem;
    }

    @include phones {
        justify-content: center;
    }
}

.reviews__img {
    background-position: center center;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    background-size: cover;

    &--one {
        @include bg-image('content/review-1');
    }
    &--two {
        @include bg-image('content/review-2');
    }
    &--three {
        @include bg-image('content/review-3');
    }
    &--four {
        @include bg-image('content/review-4');
    }
    &--five {
        @include bg-image('content/review-5');
    }
    &--six {
        @include bg-image('content/review-6');
    }
    &--seven {
        @include bg-image('content/review-7');
    }
    &--eight {
        @include bg-image('content/review-8');
    }
}

.reviews__title {
    margin: 3.125rem 1.5625rem 1.5625rem 1.25rem;
    color: $white;
    font-size: 0.875rem;
    text-align: left;

    @include tablets {
        text-align: center;
        margin-top: 1.4rem;
        margin-bottom: 0.7rem;
    }

    @include phones {
        font-size: 1.5rem;
        margin-bottom: 1.875rem;
    }
}

.reviews__button {
    background-color: $grayish;
    width: 6.875rem;
    text-align: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    @include tablets {
        margin: 0 auto;
    }
}

.reviews__regular-text {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 1.5625rem;
    color: $white;
 
    @include tablets {
        text-align: center;
        line-height: 1.3rem;
        margin-bottom: 0.8rem;
    }
    
    @include phones {
        display: none;
    }

}
