.teaser {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;
    width: 100%;
}

.teaser__block {
    margin-left: 20px;

    &--right {
        padding-top: 80px; //модификатор верхнего оступа
    }
}
