// colors
$white: #ffffff;
$border-gray: #d1cfcb;
$red: #e45028;
$yellow: #f9b43b;
$grayish: #2f3234;
$black-trans: rgba(0,0,0,0.7);
$blue-gray: rgba(#2f3234,0.93);

// media
$tablets: 768px;
$phones: 480px;
